body {
    background-color: lightgrey;
    font-family: verdana;
}

h1 {
    color: black;
}

#buttonTable {
	background-color: white;
}

#button{
	width: 100%;
	border-width: 2px;
    border-style: solid;
    text-align: center;

}

#mainPageView{
	background-color: lightblue;
	width: 80%;
	margin: auto;
}

#tableHolder{
	position: absolute;
	top: 100px
	left: 100px;
	width: 500px;
	height: 100px; 
}

#formHolder{
	position: absolute;
	top:100px;
	left:500px;
	width: 500px;
	height: 200px;
}

#gifandbuttonHolder{
	margin: auto;
	text-align: center;
}

#gifholder{
	max-width: 300px;
	max-height: 300px;
}

#gifDiv{
	width: 310px;
	height: 310px;
  	margin: auto;
}