body {
    background-color: lightblue;
    font-family: verdana;
}

h1 {
    color: black;
}

#buttonTable {
	background-color: white;
}

#button{
	width: 100%;
	border-width: 2px;
    border-style: solid;
    text-align: center;

}


#tableHolder{
	position: absolute;
	top: 100px
	left: 100px;
	width: 500px;
	height: 100px; 
}

#formHolder{
	position: absolute;
	top:100px;
	left:500px;
	width: 500px;
	height: 200px;
}